body {
  background-color: #013369;
  text-align: center;
}
form {
  max-width: 500px;
  text-align: left;
  padding: 20px;
  border: 2px solid #D50A0A;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}
input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.input-element {
  display: flex;
  flex-direction: column;
  margin: 10px
}
